/*Top Nav Bar*/
.topNavbg {
    background-color:#B8CEDE;
    color: #88AEC9;
}

@media(min-width: 425px){
    .topNav ul{
        text-align: center;
        font-size: 16px;
        margin: 0;
    }
    
    .topNav li{
        padding-left: 30px;
    }
}

@media(min-width: 768px){
    .topNav ul{
        text-align: right;
        margin: 5px 0 5px 0;
        font-size: 12px;
    }

    .topNav li{
        padding-left: 5px;
    }

    .topNav-sm ul{
        padding: 0;
        text-align: left;
        margin: 5px 0 2px 0;
    }
    
    .topNav-sm li{        
        margin: 0;
        padding: 0 5px 0 5px;
        list-style: none;
        display: inline;
    }
}

@media(min-width: 1000px){
    .topNav ul{
        text-align: right;
        margin: 5px 0 5px 0;
        font-size: 12px;
    }

    .topNav li{
        padding-left: 5px;
    }

    .topNav-sm ul{
        padding: 0;
        text-align: left;
        margin: 5px 0 2px 0;
    }
    
    .topNav-sm li{        
        margin: 0;
        padding: 0 5px 0 5px;
        list-style: none;
        display: inline;
    }
}

.topLogin ul{
    font-size: 12px;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 0;
}

.topLogin li{
    padding-left: 2px;
    list-style: none;
    display: inline;
}

.topLogin a{
    color: #638DAB;
    text-decoration: none;
}

.topLogin a:hover{
    color: #88AEC9;
    text-decoration: none;
}

.topCart ul{
    font-size: 12px;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 0;
}

.topCart li{
    padding-left: 2px;
    list-style: none;
    display: inline;
}

.topCart a{
    color: #638DAB;
    text-decoration: none;
}

.topCart a:hover{
    color: #88AEC9;
    text-decoration: none;
}

.topNav-sm a{
    color: #638DAB;
}

.topNav-sm a:hover{
    color: #88AEC9;
}

.topNav ul{    
    padding: 0;
}

.topNav li{
    list-style: none;
    display: inline;
}

.topNav a{
    text-decoration: none;
}

.topNav a:hover{
    text-decoration: none;
    color: #638DAB;
}

.topBorder {
    border-left: 1px solid #638DAB;
}

/*Logo Area*/
@media(min-width: 425px){
    .logo h1{
        margin: 0;
    }

    .shopCart{
        float: right;
        margin-top: -40px;
    }

    .searchIcon{
        margin: 5px auto 0 330px;
    }
}

@media(min-width: 768px){
    .logo h1{
        margin: 15px auto 0 auto;
    }

    .shopCart{
        margin: 30px 0 0 75px;
    }

    .searchIcon{
        margin: 35px auto 0 200px;
    }
}

@media(min-width: 1000px){
    .searchIcon{
        margin: 30px auto 0 435px;
    }

    .logo h1{
        margin: 50px auto 0 auto;
    }
}

.logo h1{
    color: #638DAB;
    padding: 0;
}

.logo p{
    color: #638DAB;
    font-size: 10px;
    margin-left: 95px;
}

.searchIcon{
    position: absolute;
    color: #638DAB;
}

.shopCart{
    background-color: #638DAB;
    border-radius: 0;
    padding: 5px 15px;
    color: white;
}

/*Search Box and Login*/
@media(min-width: 425px){
    .searchBox input{
        width: 300px;
        margin: 0 auto 0 auto;
    }

    .login ul{
        margin-top: 50px;
    }
}

@media(min-width: 768px){
    .searchBox input{
        float: right;
        width: 200px;
        margin: 30px auto 0 auto;
    }

    .login ul{
        float: right;
        margin-top: -70px;
    }

    .secondNav ul{
        margin: 10px 0 0 0;
    }
}

@media(min-width: 1000px){
    .searchBox input{
        float: right;
        width: 200px;
        margin: 25px auto 0 auto;
    }

    .secondNav ul{
        float: right;
        margin: -40px 0 0 0; 
    }
}

.searchBox input{
    display: block;
}

.login ul{
    text-align: center;
    padding: 0;
    color: #638DAB;
}

.login li{
    padding-left: 5px;
    margin: 0;
    list-style: none;
    display: inline;
}

.login a{
    color: #638DAB;
    text-decoration: none;
}

.login a:hover{
    color: #638DAB;
    text-decoration: none;
}

.loginBorder {
    border-left: 2px solid #638DAB;
}

.secondNav ul{
    padding: 0;
    color: #88AEC9;
}

.secondNav li{
    padding-left: 10px;
    list-style: none;
    display: inline;
}

.secondNav a{
    color: #88AEC9;
    text-decoration: none;
}

.secondNav a:hover{
    color: #638DAB;
    text-decoration: none;
}

/*Banner*/
.banner img{
    position: relative;
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
}

/*Featured*/
@media(min-width: 425px){
    .feature-text {
        margin: -80px 150px 0 85px;
    }
    
    .feature-price {
        margin-top: -40px;
        margin-left: 260px;
    }

    
    .feature-product img{
        margin: 10px auto 80px auto;
    }
  
    .feature-product a{
        position: absolute;
        text-align: center;
        margin: 25px auto 0 150px;
        text-decoration: none;
        background-color: #638DAB;
        border-radius: 0;
        padding: 10px 20px;
        color: white;
    }
}

@media(min-width: 768px){
    .feature-text{
        position: absolute;
        margin: -80px 150px 0 60px;
    }
    
    .feature-price{
        position: absolute;
        margin: -80px 0 0 235px;
    }

    
    .feature-product img{
        margin: 10px auto 80px auto;
    }

    .feature-product a{
        position: absolute;
        margin-top: -30px;
        margin-left: 120px;
        text-decoration: none;
        background-color: #638DAB;
        border-radius: 0;
        padding: 10px 20px;
        color: white;
    }
}

@media(min-width: 1000px){
    .feature-text{
        position: absolute;
        margin: -80px 85px 0 0;
    }
    
    .feature-price{
        position: absolute;
        margin: -80px 0 0 163px;
    }

    
    .feature-product img{
        margin: 10px auto 80px auto;
    }

    .feature-product a{
        position: absolute;
        margin-top: -10px;
        margin-left: 60px;
        text-decoration: none;
        background-color: #638DAB;
        border-radius: 0;
        padding: 10px 20px;
        color: white;
    }
}

.feature-title{
    color: #638DAB;
    text-align: center;
}

.feature-product img{
    margin: 10px auto 80px auto;
    position: relative;
}

.view{
    margin-top: 20px;
    text-align: center;
    color: #638DAB;
}

/*Footer*/ 
@media(min-width: 425px){
    .ftr-bg{
        margin-top: 80px;
    }
    .ftr-title h3{
        margin-top: 20px;
        text-align: center;
    }

    .ftr-search input{
        width: 250px;
        margin: 0 auto;
    }

    .ftr-button{
        text-align: center;
    }

    .ftr-sm{
        text-align: center;
    }

    .ftr-payment{
        text-align: left;
    }

    .ftr-banner img{
        margin: 0 auto;
    }

    .ftr-sm-banner img{
        float: left;
        margin: 5px -8px 10px 25px;
    }

    .ftr-sm-buttons ul{
        text-align: center;
        margin-top: 10px;
    }

    .ftr-payment{
        text-align: center;
        margin-top: 20px;
    }
}

@media(min-width: 768px){
    .ftr-bg{
        margin-top: 10px;
    }

    .ftr-title h3{
        text-align: left;
    }

    .ftr-search input{
        width: 200px;
        margin: 0 auto;
    }

    .ftr-button{
        text-align: left;
    }

    .ftr-banner img{
        margin: 0 auto;
    }

    .ftr-sm-banner img{
        margin: 5px 9px 20px 0;
    }

    .ftr-sm-buttons ul{
        text-align: center;
        margin-top: 10px;
    }

    .ftr-payment{
        text-align: center;
        margin-top: 20px;
    }
    
}

@media(min-width: 1000px){
    .ftr-bg{
        margin-top: 10px;
    }
    .ftr-sm p{
        text-align: left;
        padding: 0;
    }

    .ftr-search input{
        width: 200px;
        margin: 0 50px 0 auto;
    }

    .ftr-button{
        text-align: left;
    }

    .ftr-banner img{
        margin: 0 auto;
    }

    .ftr-sm-banner img{
        margin: 5px 5px 20px 3px;
    }

    .ftr-sm-buttons ul{
        text-align: left;
        margin: 30px 0 30px -20px;
    }

    .ftr-payment{
        text-align: left;
        margin-top: 40px;
    }
    
}

.ftr-bg{
    background-color: rgb(165, 204, 231);
}

.ftr-title h3{
    font-size: 14px;
    color: #638DAB;
}

.ftr-logo h2{
    margin: 10px auto 0 auto;
    color: #638DAB;
    padding: 0;
}

.ftr-logo p{
    color: #638DAB;
    font-size: 10px;
    margin: 0 0 0 70px;
}

.ftr-shop p{
    text-align: center;
    color: #638dab;
    margin: 40px 10px 0 0;
}

.ftr-shop ul{
    margin: 10px 5px 0 0;
    color: #88AEC9;
}

.ftr-shop li{
    list-style: none;
}

.ftr-info p{
    text-align: center;
    color: #638dab;
    margin: 40px 10px 0 0;
}

.ftr-info ul{
    margin: 10px 5px 0 0;
    color: #88AEC9;
}

.ftr-info li{
    list-style: none;
}

.ftr-search input{
    display: block;
}

.ftr-button{
    margin-top: 20px;
}
.ftr-button a{
    text-decoration: none;
    background-color: #638DAB;
    border-radius: 0;
    padding: 10px 20px;
    color: white;
}

.ftr-button a:hover {
    text-decoration: none;
    background-color: #88AEC9;
    border-radius: 0;
    padding: 10px 20px;
    color: white;
}

.ftr-sm{
    text-align: center;
    font-size: 14px;
    color: #638DAB;
    margin-top: 20px;
    padding: 0;
}

.ftr-sm-buttons ul{
    padding: 0;
    font-size: 8px;
}

.ftr-sm-buttons li{
    padding: 0 5px 0 5px;
    margin: 0;
    list-style: none;
    display: inline;
}

.ftr-sm-buttons a{
    background-color: #638DAB;
    border-radius: 100px;
    padding: 10px;
    color: white;
}

.ftr-sm-buttons a:hover{
    background-color: #88AEC9;
    border-radius: 50%;
    color: white;
}

.ftr-payment{
    font-size: 14px;
    color: #638DAB; 
}

.ftr-banner img{
    position: relative;
}

.ftr-sm-banner ul{
    padding: 0;
    margin: 0;
}

.ftr-sm-banner li{
    list-style: none;
    display: inline;
}

.ftr-sm-banner img{
    position: relative;
}